footer {
  display: flex;
  flex-direction: column;

  p {
    color: $white;
  }

  a {
    color: $white!important;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  p {
    font-family: $paragraph;
    font-weight: $preambleWeight;
  }

  .footer-section {
    background-color: $light-green;
    font-family: $display;
    font-size: $text-small;
    text-align: center;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @include bp(small) {
      flex-direction: column;
      padding: 10px 20px;
    }

    .footer-slogan {
      font-size: $text-medium;
      font-weight: $preambleWeight;
      color: $white;
    }
  } //end .footer-section

  .col-1 {
    // width: 33.33%;
    flex: 1;
    @include bp(small) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .col-2 {
    // width: 33.33%;
    flex: 1;
    @include bp(small) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .col-3 {
    // width: 33.33%;
    flex: 1;

    .col-3-social {
      a {
        padding: 0 10px;
      }
    }
    @include bp(small) {
      width: 100%;
    }
  } //end .col-3

  .copyright {
    background-color: $dark-green;
    display: inherit;
    justify-content: center;
    padding: 12px 0;
  }
} //end footer
