.menu-navbar-container {
  align-items: center;
  // background-color: rgba($light-green, 1);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  transition: all .3s ease;

 .menu {
   display: flex;
   list-style: none;
   padding-right: 3rem;

   .menu-item, a {
     color: $light-green;
     font-size: 1.8rem;
     font-family: $paragraph;
     font-weight: $menuWeight;
     letter-spacing: .05rem;
     padding: .5rem .5rem;
     position: relative;
     text-decoration: none;
    }

    .current-menu-item a::after {
        background: url('/themes/lokalbonden/assets/images/svg/wobbly_line_green.svg');
        content: '';
        height: 1rem;
        margin: auto;
        padding: 0;
        position: absolute;
          bottom: -.5rem;
          left: 0;
          right: 0;
        width: 80%;
    }
  }
}

.home {
  .menu {
    .menu-item, a {
      color: $white;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .current-menu-item a::after {
      background: url('/themes/lokalbonden/assets/images/svg/wobbly_line_white.svg');
      content: '';
    }
  }
}

.small {
  background-color: rgba($white, .5);

  .menu {
    margin: 0;
    .menu-item, a {
      font-size: 1.4rem;
    }

    .current-menu-item a::after {
      height: .5rem;
    }
  }
}

.home .small {
  background-color: rgba($white, 0);
}

.wobbly_white {
  stroke: #000;
}
