.nav {
  position: fixed;
  z-index: 10;
  width: 100vw;
  padding-right: 6rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: rgba($smooth-green, 1);

  .menu {
    width: 175px;


   ul {
     display: flex;
     justify-content: space-around;

     li, a  {
      padding: 3px 5px;
      font-size: 28px;
      font-family: 'Roboto', sans-serif;
      color: white;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      }
    }
  }
}
