.second_section{
  display: flex;
  padding: 50px 0px 50px 50px;
  @include bp(small){
    flex-direction: column;
    padding: 50px 50px 50px 50px;
  }
  .left_column{
    padding: 0px 20px 0px 20px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include bp(small){
      order: 2;
    }

    .svg_wrap{
      height: 100%;
      padding-top: 50px;
      opacity: 0;
      transition: opacity 2s ease;
    }
    .svg_wrap_active{
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      animation: draw 2s linear, fillIn 2s ease 2s 1 normal forwards;
      fill-opacity: 0;
      opacity: 1;
    }
  }
  .right_column{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $forest-green;
    flex: 3;
    @include bp(small){
      order: 1;
    }
    h2{
      padding-bottom: 30px;
      text-align: center;
    }
    p{
      font-family: $paragraph;
      font-size: $text-p;
      padding: 0px 50px 0px 0px;
      @include bp(small){
        padding: 0;
        text-align: center;
      }
    }
  }
}
