.hero_wrap {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 3s ease-out;

  .home-title {
    text-align: center;
    font-family: $display;
    color: $white;
    font-size: 100px;
    max-width: 650px;
    @include bp(small) {
      font-size: 56px;
      max-width: 100%;
    }
  }

}
.home-bridge {
  display: flex;
  justify-content: center;
  align-items: center;
}
