.info_section_wrap {
  background: url("../../../../../public/themes/lokalbonden/media/bg_truck.png");
  background-size: 30%;
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  @include bp(small) {
    background-size: 30%;
    background-position:  right bottom;
    height: auto;
    align-items: flex-start;
  }

  .howto_content {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 7%;
    height: 80%;
    ul {
      list-style: none;

      @include bp(small) {
        margin: 1rem;
      }
    }
    @include bp(small) {
      height: auto;
      padding: 1rem;
      justify-content: flex-start;
    }
    h2 {
      width: 100%;
      text-align: left;
      @include bp(small) {
        font-size: $text-large;
        text-align: center;

      }
    }
    p {
      padding-left: 1rem;
      font-family: $display;
      font-size: $text-large;
      @include bp(small) {
        font-size: $text-medium;
      }
    }
    a {
      margin-left: 1rem;
      width: 180px;
      @include bp(small) {
        margin-bottom: 1rem;
        margin-left: 2.1rem;
      }
    }
  }
}
