.shop_section_wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 2% 0%;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: $white;

  @include bp(small) {
    height: 100vh;

  }
  h1 {
    font-size: $text-larger;
    @include bp(small) {
      font-size: 3rem;
      margin-bottom: 1rem;

    }
  }
  .product_inner {
    display: flex;
    flex-direction: row;
    @include bp(small) {
    flex-direction: column;

    }
  }

}
