.shop_section_wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 2% 0%;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: $white;

  @include bp(small) {
    height: 100vh;
  }
  h1 {
    font-size: $text-larger;
    @include bp(small) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
  .product_inner {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include bp(small) {
      flex-direction: column;
      height: 85vh;
    }
  }
}
.shop_svg {
  // transform: rotate(90deg);

  width: 20px;

  position: absolute;

  stroke: $forest-green;
  z-index: 10;
  @include bp(small) {
    display: none;
  }
}
