.swiper__outer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background-image: url('/themes/lokalbonden/media/bg_3.jpg');

  a {
    color: $white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.69);
    border-color: $white;
    transform: translateY(50px);
  }
  a:hover {
    color: $white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.69);
  }

  .home-title {
    text-align: center;
    font-family: $display;
    color: $white;
    font-size: 100px;
    max-width: 650px;
    z-index: 1;

    @include bp(small) {
      font-size: 56px;
      max-width: 100%;
    }
  }
}
.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;



}
.swiper-slide {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
