.woocommerce-cart {
  .woocommerce-cart-wrapper {
    max-width: 800px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h2 {
    font-family: $display;
    text-align: center;
    &.space {
      display: flex;
      justify-content: space-between;
    }
  }
}

.woocommerce table.shop_table, .woocommerce-cart .cart-collaterals .cart_totals table {
  border: none;
  margin: 1rem 0;

  td, th {
    padding: 1rem 0;
  }

  td.product-quantity {
    min-width: 3rem;
  }
}
.woocommerce .a.remove {
  width: auto;
}

.after-cart {
  display: flex;
  justify-content: space-between;
  @include bp(small) {
    flex-direction: column;
  };
}

.addons {
  text-align: center;
}

.addons-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5rem 0;


  a {
    width: 33%;
  }

  .addon-product {

    img {
      margin: 0.5rem 0;
    }
    #addon-product-text-name {
      font-size: 1.6em;
      font-family: $display;
    }
    p:last-of-type {
      font-family: $display;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}

// .cart-collaterals .cart_totals {
//   margin: 2rem 0;
// }

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
  width: auto;
  .cart_totals {
    width: auto;
  }
}

.wc-proceed-to-checkout {
  text-align: right;
}

.cart-empty {
  text-align: center;
}

.return-to-shop {
  margin: 1rem;
}

body.page-id-34 .woocommerce-message {
    display: none!important;
}

.woocommerce-cart {
.product-name, .product-price, .product-quantity, .product-subtotal {
  font-family: $display;
}
}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents{
  font-size: 30px;
}

.woocommerce-cart-form__cart-item.cart_item {
  font-size: 24px;
  font-weight: bolder;
}

.woocommerce a.remove {
  color: $price-green!important;
}
.woocommerce a.remove:hover {
  background-color: $price-green!important;
}
