.checkout-page-content {

  .col2-set {
    display: flex;
    flex-direction: column;
  }

    .woocommerce-billing-fields__field-wrapper, .woocommerce-shipping-fields {
    width: 100%;

    input {
      border: 1px solid $dark-green;
      padding-left: 10px;
      height: 40px;
      font-size: 15px;
      border-radius: 3px 3px 3px 3px;
    }

    label {
      font-family: $paragraph;

    }
  }

}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox span {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

#order_comments_field {
  font-family: $display;
  font-size: 1.9em;
  font-weight: bold;
}

#order_comments {
  resize: none;
  height: 80px;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid $dark-green;
}

@media (min-width: 767px) {

  .checkout-page-content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #customer_details {
      width: 48%;

      .col-1 {
        width: 100%;
      }
      .col-2 {
        width: 100%;
      }

      .woocommerce-billing-fields__field-wrapper {
        width: 100%;
      }
    }
  }

  .payment-section {
    width: 48%;

    .woocommerce-checkout-review-order {
      width: 100%;
    }
  }

}

.woocommerce-checkout .woocommerce .woocommerce-message {
  display:none !important;
}


#e_deliverydate {
  border: 1px solid $dark-green;
  padding-left: 10px;
  height: 40px;
  font-size: 15px;
  border-radius: 3px 3px 3px 3px;
}

.terms_checkout {
  font-size: 13px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  width: 100%!important;
  float: none;
  padding: 10px;
  margin-bottom: 0;
}
