.woocommerce-products-header {
  @extend .subpageTitle;

  h1 {
    @extend .title;
  }
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: black;

  h2 {

  }
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: none;
  width: 45%;
}
