// This is where all fonts we use are declared

// Logos, HeroPage-text etc
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
// Use: font-family: 'Amatic SC', cursive;

// NavBar-text
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
// Use: font-family: 'Roboto', sans-serif;


$display: 'Amatic SC', cursive;
$paragraph: 'Roboto 100', sans-serif;
$headline: 'Roboto 300', sans-serif;

$text-small: 1rem;
$text-medium: 2rem;
$text-large: 3rem;
