// This is where all fonts we use are declared

// Logos, HeroPage-text etc
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
// Use: font-family: 'Amatic SC', cursive;

// NavBar-text

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,900');

// Use: font-family: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Abel');

// Use: font-family: 'Abel', sans-serif;

$display: 'Amatic SC', cursive;

h1 {
  font-family: $display;
}

$paragraph: 'Roboto', sans-serif;

$button: 'Abel', sans-serif;

$bodyWeight: 100;
$preambleWeight: 300;
$menuWeight: 900;


$text-small: 1rem;
$text-medium: 2rem;
$text-large: 3rem;
