.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0;
  p {
    width: 50%;
    text-align: center;
    font-size: $text-medium;
  }
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $text-medium;
  text-align: center;
  margin: 0 2em;

  .column-left {
    flex: 3;
  }
  .column-center {
    flex: 1;
  }
  .column-right {
    flex: 3;
  }
}
